/* create a declaration block to clear default browser properties */
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

/* set styles for main site */
#body {
  width: 1920px; /*this is the max static width for site */
  margin: 0 auto;
  padding: 0 40px; /* total site is 2000 max width */
}

/* set site font families and generic sizes" */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto;
  font-size: 24px;
}
p {
  font-family: "Open Sans";
  font-size: 12px;
}
