/* create a declaration block to clear default browser properties */
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  color: #000000;
}
/* set no margin class */
.noMargin {
  margin-right: 0;
}
/* set styles for main site */
#body {
  width: 1920px; /*this is the max static width for site */
  margin: 0 auto;
}

/* set site font families and generic sizes" */
h1,
h2,
h3,
h4,
h5,
h6,
header h1 a {
  font-family: roboto;
  font-size: 24px;
}
p,
a {
  font-family: "Open Sans";
  font-size: 12px;
}

/* create a float layout for the header/nav */
header h1,
nav,
nav ul li {
  float: left;
}
header p {
  width: 25%;
  background-color: orange;
  float: right;
  text-align: center;
}
header {
  height: 344px;
  background-color: gold;
  line-height: 344px;
}
header h1 {
  width: 25%;
  text-align: center;
  text-transform: uppercase;
}
header h1 a:hover {
  cursor: pointer;
}
header nav {
  width: 50%;
  text-transform: capitalize;
  background-color: red;
}
header p a {
  border: 1px solid #f4f4f4;
  padding: 20px;
  text-transform: capitalize;
}
header p a:hover {
  color: #f4f4f4;
  border-color: #000000;
}
nav ul li {
  margin-right: 28.4%;
}
nav ul li a {
  padding: 20px 0px;
}
nav ul li a:hover {
  border-bottom: solid 1px #f4f4f4;
}
main {
  clear: both;
}

/*create a container to hold all of the blog cards and center it */
.blogCards {
  width: 50%;
  height: ;
}
